<center>
<h1 style="font-family: Futura">Hi Bookmark App!</h1>

<div id="new-link">
  <form action="/links" method="post">
    Url: <input type="text" name="url">
    Title: <input type="text" name="title">
    <input type="submit" value="Add link">
    Tags: <input type="text" name="tags"
  </form>
</div>

<ul>
  <% @links.each do |link| %>
    <li><a href="<%= link.url %>"><%= link.title %></a></li>
  <%end%>
</ul>

</center>